<!DOCTYPE html>
<TMPL_IF HTML_LANG_CODE><html lang="<TMPL_VAR HTML_LANG_CODE>" dir="<TMPL_VAR HTML_LANG_DIR>" xmlns="http://www.w3.org/1999/xhtml"><TMPL_ELSE><html xmlns="http://www.w3.org/1999/xhtml"></TMPL_IF>
<head>
  <meta charset="utf-8" />
  <title><TMPL_VAR TITLE></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="<TMPL_VAR BASEURL>style.css" type="text/css" />
  <link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
</head>
<body lang=en>
  <article class="page">
    <section class="pageheader">
      <header class="header">
	<span>
	  <span class="parentlinks">
	    <TMPL_LOOP PARENTLINKS>
	      <a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a> &rarr;
	    </TMPL_LOOP>
	  </span>
	  <span class="title">
	    <TMPL_VAR TITLE>
	  </span>

          <nav id="pageinfo">
	    <span class="pagedate"><TMPL_VAR MTIME></span>

            <TMPL_IF TAGS>
              <span class="tags">
                <TMPL_LOOP TAGS>
                  <TMPL_VAR LINK>
                </TMPL_LOOP>
              </span>
            </TMPL_IF>

          </nav>

	</span>
      </header>
    </section>

    <TMPL_IF SIDEBAR>
      <aside class="sidebar"><TMPL_VAR SIDEBAR></aside>
    </TMPL_IF>

    <div id="pagebody">
      <section>
	<TMPL_VAR CONTENT>
      </section>
    </div>

  </article>
</body>
</html>
